<template>
    <div class="wrapper">
        <div>
            This character is Named {{selectedCharacter.name}}.<br />
            He is a {{selectedCharacter.profession.name}}.<br />

            That job includes knowing these skills : <br />
            <ul>
                <li v-for="skill in selectedCharacter.profession.jobSkills">{{skill.name}}</li>
            </ul>
        </div>
        <div>
            <h2>Base Attributes :</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="carac in selectedCharacter.baseAttributes">
                        <td>{{carac.name}}</td>
                        <td><input v-model="carac.score" /></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div>
            <h2>Stats :</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="carac in selectedCharacter.stats">
                        <td>{{carac.name}}</td>
                        <td><input v-model="carac.score" /></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2>Skills :</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="carac in selectedCharacter.skills">
                        <td>{{carac.name}}</td>
                        <td><input v-model="carac.score" /></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <div>
            <h2>Points to spend :</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="carac in selectedCharacter.spendablePoints">
                        <td>{{carac.name}}</td>
                        <td>{{carac.score}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</template>
<script src="./characterUpdate.ts"></script>